.logos {
	margin: auto;
	margin-top: 10px;
	width: 80%;
	height: 20%;
	overflow: auto;
}
.logos img {
  	margin-right: 4%;
  	margin-left: 5%;
  	margin-bottom: 1rem;
  	float: center;
  	width: 24%;
}

.container.bottom img {
	float: left;
	margin-top: -2%;
	border: solid;
	margin-right:15px;
}